@(profiles: Option[List[org.pac4j.core.profile.CommonProfile]], post: models.Post, board: models.Board)(implicit messages: Messages, webJarAssets: WebJarAssets)
@_template(profiles) {
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="max-width: 1030px;">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h3 class="mdl-cell mdl-cell--12-col">@messages("post.title")</h3>
                </div>
            </div>
            <div class="section__circle-container mdl-cell">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">

                <table class="mdl-data-table mdl-js-data-table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric" style="width: 10%"> 번호
                            <th class="mdl-data-table__cell--non-numeric">No</th>
                        </tr>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"> 글쓴이 </th>
                            <th class="mdl-data-table__cell--non-numeric">@post.postUser.username</th>
                        </tr>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"> 조회수 </th>
                            <th class="mdl-data-table__cell--non-numeric">@post.postInfo.hit</th>
                        </tr>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"> 날짜 </th>
                            <th class="mdl-data-table__cell--non-numeric">@post.created_datetime</th>
                        </tr>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"> 제목 </th>
                            <th class="mdl-data-table__cell--non-numeric">@post.title</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td colspan="2" class="mdl-data-table__cell--non-numeric"> @post.content </td>
                        </tr>

                    </tbody>
                </table>

                <div class="mdl-grid mdl-card--border">
                    <div class="mdl-cell mdl-cell--7-col"></div>
                    <div class="mdl-cell mdl-cell--5-col">
                        <a href="@routes.Post.listPost(board.key)">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">글목록</button>
                        </a>

                        <a href="@routes.Post.editPost(board.key, post.id.toString())">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">글수정</button>
                        </a>

                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored dialog-button">글삭제</button>
                        <dialog id="dialog" class="mdl-dialog">
                            <h3 class="mdl-dialog__title">Delete Confirm Dialog</h3>
                            <div class="mdl-dialog__content">
                                <p>
                                    Do you really want to delete this article?
                                </p>
                            </div>
                            <div class="mdl-dialog__actions">
                                <button type="button" class="mdl-button">No</button>
                                <button type="button" class="mdl-button">Yes</button>
                            </div>
                        </dialog>
                        <script>
                          (function() {
                            'use strict';
                            var dialogButton = document.querySelector('.dialog-button');
                            var dialog = document.querySelector('#dialog');
                            if (! dialog.showModal) {
                              dialogPolyfill.registerDialog(dialog);
                            }
                            dialogButton.addEventListener('click', function() {
                               dialog.showModal();
                            });
                            var buttons = dialog.querySelectorAll('button');
                            let index = 0;
                            for( index=0; index < buttons.length; index++ ) {
                                buttons[index].addEventListener('click', function(evt) {
                                  switch(evt.target.textContent) {
                                    case "No":
                                        dialog.close();
                                        break;
                                    case "Yes":
                                        location.href="@routes.Post.deletePost(board.key, post.id.toString())";
                                        break;
                                    default:

                                        break;
                                  }
                                });
                            }
                          }());
                          //# sourceURL=pen.js
                        </script>

                        <a href="@routes.Post.newPost(board.key)">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">글쓰기</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="mdl-card__actions">
            <!--
            <a href="#" class="mdl-button">Read our features</a>
            -->
        </div>
    </div>
</section>
}