@(signupForm: Form[forms.SignupFormData])(implicit messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)
@_template(None) {
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="max-width: 630px;">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <div class="mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--12-col">
                    <h3 class="mdl-cell mdl-cell--12-col">@messages("signup")</h3>
                </div>
            </div>
            <div class="section__circle-container mdl-cell">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <form method="post" id="signupForm" action="@routes.Authentication.signup()">
                    <div class="mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--9-col mdl-cell--3-offset">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="name" name="name" value="@signupForm("name").value" required >
                                <label class="mdl-textfield__label" for="name">Name</label>
                                @signupForm.error("name").map { formError =>
                                <span class="form-error is-visible">@formError.message</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--9-col mdl-cell--3-offset">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="email" name="email" value="@signupForm("email").value" required >
                                <label class="mdl-textfield__label" for="email">write@@your.email</label>
                                @signupForm.error("email").map { formError =>
                                <span class="form-error is-visible">@formError.message</span>
                                }
                            </div>
                        </div>
                    </div>


                    <div class="mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--9-col mdl-cell--3-offset">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" id="password" name="password" value="@signupForm("password").value" required >
                                <label class="mdl-textfield__label" for="password">Password...</label>
                                @signupForm.globalError.map { formError =>
                                <span class="mdl-textfield__error">@formError.message</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--9-col mdl-cell--3-offset">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" id="passwordAgain" name="passwordAgain" value="@signupForm("passwordAgain").value" required >
                                <label class="mdl-textfield__label" for="passwordAgain">passwordAgain...</label>
                                @signupForm.error("passwordAgain").map { formError =>
                                <span class="form-error is-visible">@formError.message</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--7-offset mdl-textfield--align-left">
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Sign up</button>
                        </div>
                    </div>
                </form>
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--9-col mdl-cell--3-offset">
                        <p>@Messages("signin.forgot.question")<a href="routes.Authentication.forgotPassword">@Messages("signin.forgot")</a></p>
                    </div>
                </div>

            </div>
        </div>
        <!--
        <div class="mdl-card__actions">
            <a href="#" class="mdl-button">Read our features</a>
        </div>
        -->
    </div>
</section>
}