@(profiles: Option[List[org.pac4j.core.profile.CommonProfile]], scripts: Html = Html(""))(content: Html)(implicit messages: Messages, webJarAssets: WebJarAssets)

<!doctype html>
<html class="no-js" lang="en" dir="ltr">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Autobot</title>

    <link href="@routes.Assets.at("images/favicon.png")" rel="shortcut icon"></link>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"></link>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("material.min.css"))"></link>

    <script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("material.min.js"))"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    @scripts
</head>

<body class="mdl-ain mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a href="/">Title</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <ul class="nav">
                <li><a href="http://www.g.com">Home</a></li>
                <li><a href="http://www.g.com">Portfolio</a></li>
                <li class="drop">Drop
                    <ul>
                        <li><a href="http://www.g.com">Art</a></li>
                        <li><a href="http://www.g.com">Coding</a></li>
                        <li><a href="http://www.g.com">Design</a></li>
                        <li><a href="http://www.g.com">Web Development</a></li>
                    </ul>
                </li>
                <li><a href="http://www.g.com">Contact</a></li>
            </ul>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                @if(profiles.isDefined && profiles.get.head.isInstanceOf[org.pac4j.core.profile.CommonProfile]) {
                <a class="mdl-navigation__link" href="#">Markets</a>
                <a class="mdl-navigation__link" href="#">History</a>
                }

                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="@routes.Post.listPost("notice")">공지사항</a>
                <a class="mdl-navigation__link" href="@routes.Post.listPost("free")">자유게시판</a>

                @profiles.filterNot(_.isEmpty).map { profileList =>
                    @profileList.map {
                        case profile => {
                            @if(profile.isInstanceOf[org.pac4j.core.profile.AnonymousProfile]) {
                                <a class="mdl-navigation__link" href="@routes.Application.loginForm()" class="button hollow">Login</a>
                                <a class="mdl-navigation__link" href="@routes.Authentication.signup()" class="button hollow">Sign Up</a>
                            } else {
                                <a class="mdl-navigation__link" href="#" title="Edit Your Account">
                                    Hello <strong> @profile.getDisplayName() </strong>!
                                </a>
                                <a class="mdl-navigation__link" href="#" title="Manage messages">Messages</a>
                                @if(profile.getRoles.contains("AdminRole")) {
                                    <a class="mdl-navigation__link" href="#" title="Add an Board">Add Board</a>
                                }
                                <a class="mdl-navigation__link" href="/logout" class="button hollow">Logout</a>
                            }
                        }
                    }
                }
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content" style="padding: 8px; padding-top: 48px; padding-bottom: 48px;">
            <!-- Your content goes here -->
            <!-- <CONTENT> -->
            @content
            <!-- </CONTENT> -->
        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Title</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>

</body>
</html>